* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
.wrap {
  width: 100%;
  height: 100%;
}

.head {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.head ul {
  display: flex;
}

.head ul li {
  flex: 1;
  height: 44px;
  line-height: 44px;
  margin-left: 6px;
}

.head ul .active {
  color: red;
}

.swiper {
  width: 100%;
}

.swiper img {
  width: 100%;
  height: 200px;
}

h4 {
  height: 44px;
  border-bottom: 1px solid #333;
  line-height: 44px;
  margin: 10px 10px;
}

.main {
  width: 100%;
}

.main dl {
  height: 100px;
  border-bottom: 1px solid #333;
  line-height: 60px;
}

.main dl dd {
  width: 80px;
  height: 60px;
  float: left;
  margin: 16px 10px;
}

.main dl dd img {
  width: 100%;
  height: 100%;
}
